*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins';
}
body{
    background-color: rgb(16, 25, 32);
}
.nav{
    background-color: rgb(10, 32, 50);
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}
.nav span{
    color: rgb(255, 234, 1);
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    color: gainsboro;
    font-size: 20px;
    margin-left: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.content{
    width: 80%;
    /* background-color: rgb(10, 32, 50); */
    height: 90vh;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2,2fr);
}
.content .text{
    /* background-color: yellow; */
    padding-top: 30%;  
}
.content .text span{
    color: rgb(171, 164, 89);
    font-size: 25px;
}
.content .text h1{
    font-size: 60px;
    color: white
}
.content .text p{
    color: rgb(171, 164, 89);
    
}

.content .img{
    margin: 0 auto;
    padding-top: 10%;
    padding-left:30px;
    /* background-color: brown; */
}
.content .img img{
    width: 90%;
}
